<form action="/" class="form-horizontal">
	<a href="/" class="btn btn-default pull-right">Clear</a>
	<button type="submit" class="btn btn-primary pull-right">Filter</button>
	<div class="form-group">
		<label for="startedAfter" class="control-label col-md-3">Test started after</label>
		<div class="col-md-4">
			<input id="startedAfter" name="filter[startedAfter]" class="form-control" type="datetime-local" step="1" value="{{filter.startedAfter}}">
		</div>
	</div>
	<div class="form-group">
		<label for="startedBefore" class="control-label col-md-3">Test started before</label>
		<div class="col-md-4">
			<input id="startedBefore" name="filter[startedBefore]" class="form-control" type="datetime-local" step="1" value="{{filter.startedBefore}}">
		</div>
	</div>
</form>

<h1>Summary data</h1>
{{#each summary.data}}
	<section class="summary">
		<h2>{{{name}}}</h2>
		<div class="kpis-container">
			<div class="kpi">
				<span class="label">Count: </span>
				<span class="value">{{count}}</span>
			</div>
			<div class="kpi">
				<span class="label">Avg. OK time: </span>
				{{#if averageSuccessTime}}
					<span class="value">{{averageSuccessTime}}s</span>
				{{else}}
					<span class="value">N/A</span>
				{{/if}}
			</div>
			<div class="kpi {{interval successRate 0 100}}">
				<span class="label">Success: </span>
				<span class="value">{{successRate}}%</span>
			</div>
			<div class="kpi {{interval errorRate 100 0}}">
				<span class="label">Error: </span>
				<span class="value">{{errorRate}}%</span>
			</div>
			<div class="kpi {{interval unknownRate 100 0}}">
				<span class="label">Unknown: </span>
				<span class="value">{{unknownRate}}%</span>
			</div>
		</div>
		<br>
		{{#each errors}}
			<div>
				<span class="errcount">{{errors.length}} error(s) like this:</span>
				<pre class="error">{{message}}</pre>
			</div>
			<div class="errview">
				Screencasts:
				{{#each errors}}
					<a target="blank" href="/screencasts/{{testToken}}">{{increment @index}}</a>
				{{/each}}
			</div>
		{{/each}}
	</section>
{{/each}}
