<h1>Screenshots</h1>

<div class="flex">
	<span class="label label-default">Test</span> {{testName}}
</div>
<br>

{{#unless screenshots.length}}
	Sorry, no screenshots recorded for this!
{{/unless}}

<div class="screenshots-pagination">
	<div class="group left">
		{{#each pagination.before}}
			{{#if placeholder}}
				<a class="btn btn-default" disabled>...</a>
			{{else}}
				{{#if enable}}
					<a class="btn btn-primary" href="/screencasts/{{../../../testToken}}/{{position}}">{{label}}</a>
				{{else}}
					<a class="btn btn-primary" disabled>{{label}}</a>
				{{/if}}
			{{/if}}
		{{/each}}
	</div>


	{{imageName}}

	<div class="group right">
		{{#each pagination.after}}
			{{#if placeholder}}
				<a class="btn btn-default" disabled>...</a>
			{{else}}
				{{#if enable}}
					<a class="btn btn-primary" href="/screencasts/{{../../../testToken}}/{{position}}">{{label}}</a>
				{{else}}
					<a class="btn btn-primary" disabled>{{label}}</a>
				{{/if}}
			{{/if}}
		{{/each}}
	</div>	
</div>

{{#if imageSource}}
	{{#if imageMetadata}}
		<div class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-2">URL</label>
				<div class="form-control-static col-md-10">{{imageMetadata.[Current URL]}}</div>
			</div>
		</div>
	{{/if}}
	<div id="screenshot-container">
		<img class="screenshot" src={{{imageSource}}}>
	</div>
{{/if}}

<br>
{{#each imageMetadata.[Browser Log]}}
	<div class="row browser-log {{class}}">
		<div class="col-md-2"><span class="label label-{{class}}">{{level}}</span></div>
		<div class="col-md-10"><pre>{{message}}</pre></div>
	</div>
{{/each}}

{{#if imageMetadata.warningsCount}}
	<button id="toggleWarnings" type="button" onclick="screenshots.toggleWarnings()" class="pull-right btn btn-default">Show Warnings</button>
	<br>
	<br>
{{/if}}

<script>
	$('#screenshot-container').zoom();

	var screenshots = {
		warnings: 0,
		texts: ['Show Warnings', 'Hide Warnings'],
		toggleWarnings: function () {
			$('.browser-log.default').toggle();
			this.warnings = 1 - this.warnings;
			$('#toggleWarnings').html(this.texts[this.warnings]);
		}
	};
</script>